.parent-article-container
{
    width: 950px;
    background-color: antiquewhite;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.article-container
{
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(255, 253, 250);
    padding: 10px;
    border-radius: 15px;
    border: 5px rgb(0, 255, 225) double ;
}