.plans-container
{
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.plan-detail
{
    padding: 5px;
    width: 350px;
    border:2px red solid;
    margin: 10px;
}

.plan-button
{
    height: 50px;
    width: 200px;
    border-radius: 10px;
    padding: 5px;
    font-size: 20px;
    background-color: coral;
}

.plans-info-div
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.plan-button-container
{
    
}